.all-create {
    background-image: url('../christmas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.all-create > * {
    text-align: center;
}

.border {
    background-color: rgb(55, 114, 55);
}

.hello {
    display: inline;
    text-align: center;
}

h1 {
    text-align: center;
    color: rgb(119, 5, 5);
    font-style: italic;
    font-size: 3.5em;
    background-color: rgb(55, 114, 55);
}

img {
    height: 120px;
    width: 110px;
    margin-left: 45%;
    margin-right: auto;
}

label {
    color: rgb(95, 10, 10);
    font-size: 1.7em;
    text-align: center;
}

button {
    margin-top: 1.5em;
}

p {
    color: rgb(0, 0, 0);
    font-size: 1.3em;
}

.routing {
    background-color: rgb(55, 114, 55);    
}
