<div class="all-login">
  <h1><i class="far fa-snowflake">Sign In</i></h1>
  <form class="form-signin text-center p-5" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
    <div class="mt-5 mb-4">
      <div class="form-row border rounded">
        <div class="form-group col-md-6">
          <label for="inputEmail">Email:</label>
          <input 
          ngModel 
          type="email" 
          class="form-control" 
          id="inputEmail" 
          name="yourEmail" 
          placeholder="Email address"
          required 
          autofocus>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword">Password:</label>
          <input 
          ngModel 
          type="password" 
          class="form-control" 
          id="inputPassword" 
          name="yourPassword" 
          placeholder="Password"
          required 
          autofocus>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-success">Log In</button>
    <p>{{ loginForm.value| json }}</p>
    <p>You do not have any account yet? <a routerLink="/register">Sign Up</a></p>
  </form>
</div>