.all-login {
    background-image: url('../christmas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    text-align: center;
    color: rgb(85, 23, 23);
    text-decoration: underline;
}

.border {
    background-color: rgb(55, 114, 55);
}

label {
    color: rgb(78, 36, 36);
    font-weight: bold; 
}
