.all-home {
    background-image: url('../christmas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

h1 {
    text-align: center;
    color: rgb(119, 5, 5);
    font-style: italic;
    font-size: 3.5em;
    background-color: rgb(55, 114, 55);
}

.checked {
    color: orange;
}

fieldset {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.2em;
    background-color: rgb(55, 114, 55);
    margin-left: 6em;
    margin-right: 6em;
}

p {
    color: rgb(80, 10, 10);
    font-size: 1.5em;
    font-weight: bold; 
}

img {
    height: 160px;
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.routing {
    background-color: rgb(55, 114, 55);
    text-align: center;
}

.exit {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.5em;
    }
    fieldset {
        margin-left: 3.5em;
        margin-right: 3.5em;
    }
  }
  