<div class="all-home">
    <h1>Welcome {{ authService.famuser?.email }} to your gift collection app</h1>
    <ul *ngFor= "let present of presents | async">
        <li>
        <p> {{ present.giver }} </p>
        </li>
        <li>
            <p> {{ present.receiver }} </p>
        </li>
        <li>
            <p> {{ present.picture }} </p>
        </li>
        <li>
            <p> {{ present.name }} </p>
        </li>
        <li>
            <p> {{ present.name }} </p>
        </li>
        <li>
            <p> {{ present.date }} </p>
        </li>
        <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
            <input type="checkbox" autocomplete="off" (click)="Thanks()"> Send Thanking Letter
        </label>
        </div>
    </ul>
    <div class="exit">
        <button (click)="logout()" class="btn btn-danger">Log Out</button>
    </div>
</div>
